.new_incident_container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    max-width: 1120px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.new_incident_container .content {
    width: 100%;
    padding: 90px;
    background: #f0f0f5;
    border-radius: 15px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.06);

    display: flex;
    justify-content: space-between;
}

.new_incident_container .content .left_content {
    width: 100%;
    max-width: 350px;
    margin-right: 60px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.new_incident_container .content .left_content .logo { 
    width: 100%;
    margin-bottom: 30px; 
}

.new_incident_container .content .left_content h1 { margin-bottom: 10px; }

.new_incident_container .content .left_content p { text-align: justify; }

.new_incident_container .content form.right_content {
    width: 100%;
    max-width: 450px;
    background: url('../../assets/heroes.png') center no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(240, 240, 245, 0.99);
}

.new_incident_container .content form.right_content input.total_cost { margin-top: 5px; }

.new_incident_container .content form.right_content textarea { 
    resize: none;
    margin-top: 8px;
}

.new_incident_container .content .left_content, .new_incident_container .content .right_content { z-index: 2; }

.new_incident_container .decorations {
    width: 100%;
    max-width: 1280px;
    position: absolute;
    margin: 133px auto 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) { .new_incident_container .decorations { display: none; } }

@media (max-width: 1160px) {
    .new_incident_container {
        height: 100%;
        padding: 60px 40px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .new_incident_container .content {
        padding: 60px 40px;
        align-items: center;
        flex-direction: column;
    }

    .new_incident_container .content .left_content {
        height: 300px;
        margin: 0 0 36px 0;
        align-items: center;
    }

    .new_incident_container .content .left_content .logo { width: calc(100% - 70px); }

    .new_incident_container .content .left_content h1, .register_container .content .left_content p { text-align: center; } 
}