.profile_incidents_container {
    width: 100%;
    margin: 0 auto;
    max-width: 1180px;
    padding: 60px 40px 80px;
    background: url('../../assets/heroes.png') no-repeat center;
    background-position-x: 55%;
    background-blend-mode: overlay;
    min-height: calc(100vh - 280px);
    background-color: rgba(240, 240, 245, 0.99);
}

.profile_incidents_container h1 { margin-bottom: 30px; }

.profile_incidents_container ul {
    display: grid;
    grid-gap: 25px;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
}

.profile_incidents_container ul li {
    padding: 30px;
    background: #fff;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0,0,0,0.02);
}

.profile_incidents_container ul li button {
    border: 0;
    top: 25px;
    right: 25px;
    position: absolute;
    background: #fff;
    transition: all ease-in-out 0.1s;
}

.profile_incidents_container ul li button:hover {
    opacity: 0.8; 
    transform: perspective(1px) scale(0.96); 
}

.profile_incidents_container ul li strong { display: block; }

.profile_incidents_container ul li strong, .profile_incidents_container ul li p { text-align: justify; }

.profile_incidents_container ul li p + strong { margin-top: 20px; }

@media (max-width: 720px) {
    .profile_incidents_container h1 { text-align: center; }

    .profile_incidents_container ul {
        grid-template-columns: 1fr;
    }
}
