@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
    font: 400 16px 'Raleway', sans-serif;
}

input, button, textarea {
    font: 400 16px 'Raleway', sans-serif;
}

form input {
    width: 100%;
    height: 55px;
    color: #333;
    padding: 0 18px;
    border-radius: 10px;
    border: 1px solid #ededed;
}

form input::placeholder {
    color: #bbb;
}

button { cursor: pointer; }

.btn {
    border: 0;
    width: 100%;
    height: 55px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    transition: filter 0.2s;
}

.btn:hover { filter: brightness(85%); }

.red_btn { background: #e02041; }

.black_btn { background: #1F2127; }

.link_btn {
    display: flex;
    color: #333;
    font-size: 18px;
    margin-top: 30px;
    font-weight: 500;
    align-items: center;
    text-decoration: none;
    transition: opacity 0.5s;
}

.link_btn svg { margin-right: 8px; }

.link_btn:hover { opacity: 0.8; }
