.register_container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    max-width: 1120px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.register_container .content {
    width: 100%;
    padding: 90px;
    background: #f0f0f5;
    border-radius: 15px;
    box-shadow: 0 0 100px rgba(29, 3, 3, 0.08);

    display: flex;
    justify-content: space-between;
}

.register_container .content .left_content {
    width: 100%;
    max-width: 350px;
    margin-right: 60px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.register_container .content .left_content .logo { 
    width: 100%;
    margin-bottom: 30px; 
}

.register_container .content .left_content h1 { margin-bottom: 10px; }

.register_container .content .left_content p { text-align: justify; }

.register_container .content form.right_content {
    width: 100%;
    max-width: 450px;
}

.register_container .content form.right_content input { margin-top: 8px; }

.register_container .content form.right_content .input_group { display: flex; }

.register_container .content form.right_content .input_group input + input { margin-left: 8px; }

@media (max-width: 1120px) {
    .register_container {
        height: 100%;
        padding: 60px 40px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .register_container .content {
        padding: 60px 40px;
        align-items: center;
        flex-direction: column;
    }

    .register_container .content .left_content {
        height: 300px;
        margin: 0 0 36px 0;
        align-items: center;
    }

    .register_container .content .left_content .logo { width: calc(100% - 70px); }

    .register_container .content .left_content h1, .register_container .content .left_content p { text-align: center; } 
}